<title><%- title%></title>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2" style="margin-top: 46px; margin-left: 26%;">
            <div class="card">
                <div class="card-header">Reset Password</div>

                <div class="card-body">
                    
                    <% if (status && message == 'undefined') {%>
                        <div class="alert alert-success">
                            
                                <%-status%>
                               
                        </div>
                    <% } %>

                    <form class="form-horizontal" method="POST" action="">

                        <div class="form-group{{ $errors->has('email') ? ' has-error' : '' }}">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-12">
                                <input id="email" type="email" class="form-control" name="email" value="" required>

                                <% if (message != 'undefined') {%>
                                    <div class="status">
                                        <span><%=message%></span>
                                    </div>
                                <% } %>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-success">
                                    Send Password Reset Link
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>