<title><%- title%></title>
<% include ../partials/header %>
<head>
    
</head>
<div class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    
                      
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">username</label>

                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" value="" required autofocus>

                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                              
                            </div>
                        </div>

                        <div class="form-group{{ $errors->has('password') ? ' has-error' : '' }}">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required>

                                    <span class="help-block">
                                        <strong></strong>
                                    </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" {{ old('remember') ? 'checked' : '' }}> Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-danger" id="btn-login">
                                    Login
                                </button>

                                <a class="btn btn-link" href="/forgot-password">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg"  style="display:none" data-toggle="modal" data-target="#modelId" id="some-id">
          Launch
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                        
                    <div class="modal-body" style="height:150px; text-align: center">
                        <div class="container-fluid" style="padding:50">
                            <p id="info-login" style="font-size: 2em;"></p>
                        </div>
                    </div>
                    <div class="modal-footer" style="display: none;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="some-2">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <section class="newcustomer">
                <h5 class="heading2">New Customer </h5>
                <div class="loginbox">
                  <h5 class="heading4" style="color: #96979d;"> Register Account</h5>
                  <p>Register at Shop Fashion ST to use the functions on the website and update information of our new products in the fastest way.</p>
                  <br>
                  <br>
                  <a href="/register" class="btn btn-danger">Register Account</a>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
<script>
    $(document).ready(function () {

        $('#password').keypress(function(e){
            if(e.which == 13){//Enter key pressed
                $("#btn-login").trigger('click');
            }
        });

        $("#btn-login").on("click", function(event) {
        event.preventDefault();
        let username = $("#username").val();
        let password = $("#password").val();

        $.ajax({
            url: `${window.location.origin}/login`,
            method: "POST",
            data: {username: username, password: password},
            success: function(data) { 
                swal({
                title: "Success!",
                text: "Login success!",
                type: "success",
                button: "Aww yiss!",
                });

                window.location.href = "/";

            },
            error: function(err) {
                if (err.responseText == '"Tài khoản không tồn tại"') $("#username").val('');
               
                swal({
                title: "Login fail!",
                text: err.responseText,
                type: "warning",
                button: "Aww yiss!",
                });

                $("#password").val('');
            }
        })
});

});
 </script>
<% include ../partials/footer%>
