<footer class="">
    <div class="container container-fluid-footer" style="width: 100%; padding: 0;">
      <div class="row" style="display: block; flex-wrap: unset;">
        <div class="col-sm-12 form-inline">
          <div class="col-sm-4 left-footer">
            <hr>
            <div class="link_text">
              <ul>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">TERMS & CONDITIONS</a></li>
                <li><a href="#">ABOUT</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 middle-footer-image clearfix">
            <div class="image-shop">
              <a href="#" class="clearfix" style="display: block;">
                <img src="/images/logo-fashion.jpg" alt="webfashion" class="img-shop-footer" style="width: 150px;">
              </a>
            </div>
            <div class="icon-link">
              <a class="btn" href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn" href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn" href="#">
                <i class="fab fa-google"></i>
              </a>
              <a class="btn" href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <!--                 <hr> -->
            </div>
          </div>
          <div class="col-sm-4 right-footer">
            <hr>
            <div class="link_text">
              <ul>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">TERMS & CONDITIONS</a></li>
                <li><a href="#">ABOUT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="footer-form-register">
    <div class="container">
      <div class="col-sm-12 letter-footer">
          <div class="area-newsletter" style="padding-bottom: 20px;">
            <div class="title-newsletter form-inline">
              <i class="fas fa-envelope"></i>
              <h5 class="title-email">Đăng ký để nhận thông tin khuyến mãi và sản phẩm mới</h5>
            </div>
            <div class="col-sm-5 body-newsletter">
              <div class="input-group">
                <input type="email" class="form-control form-control-sm" placeholder="Nhập email của bạn" style="width: 100%;">
                <div class="input-group-append">
                  <a href="" class="btn btn-register">Đăng ký</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </footer>
  <!-- javascript 
    ======================================================= -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <script src="/javascripts/jquery.exzoom.js"></script>
  <link rel="stylesheet" href="/stylesheets/jquery.exzoom.css">
  <script src="/javascripts/js/first_page.js"></script>
  <script src="/javascripts/js/view.js"></script>
  <!-- <script src="/javascripts/js/cart.js"></script> -->

</body>
</html>