
<% include ./partials/header %>

<section class="section-image-header">
	<div class="container">
		<div class="div-image-header">
			<div class="image-left">
				<img src="/images/img/image-left.jpg" alt="">
			</div>
			<div class="image-middle">
				<img src="/images/img/image-middle.jpg" alt="">
			</div>
			<div class="image-right">
				<img src="/images/img/image-right.jpg" alt="">
			</div>
			<div class="text-welcome">
				<h3>Welcome to Routine</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum adipisci natus consequuntur veritatis provident.</p>
				<a href="shop/product" class="btn">Shop Now</a>
			</div>
		</div>
	</div>
	
</section>
<section class="title-fashion-style">
	<div class="container">		
		<h2>Fashion Style</h2>
	</div>
</section>
<section class="sec-categories container mb-3">
	<div class="title-h2 text-center">
	   <h2>DANH MỤC SẢN PHẨM</h2>
	</div>
	<div class="row clearfix cate-block justify-center scroll-items">
	   
	   <%category.forEach(item => {%>
		<a href="product/<%-item.id%>" title="Bàn" class="col-lg-2 col-sm-4 col-6 cate-item scroll-item-inner">
			<div class="cate-item-inner">
			   <div class="cate-img"></div>
			   <h3><%-item.name%></h3>
			</div>
		 </a>
	   <%})%>
	</div>
 </section>
<section class="section-style-clothing">
	<div class="container">
		<div class="div-style-clothing">
			<div class="img-style-clothing-1">
				<img src="/images/img/style-clothing-1.jpg" alt="">
			</div>
			<hr class="hr-style-1">
			<div class="detail-style-1">
				<h3>Korean Style</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda reprehenderit facere atque velit.</p>
				<a href="product" class="btn">Shop Now</a>
			</div>
			<div class="img-style-clothing-2">
				<img src="/images/img/style-clothing-2.jpg" alt="">
			</div>
			<hr class="hr-style-2">
			<div class="detail-style-2">
				<h3>Summer Style</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda reprehenderit facere atque velit.</p>
				<a href="{!! URL::route('link-category', 3) !!}" class="btn">Shop Now</a>
			</div>
			<div class="img-style-clothing-3">
				<img src="/images/img/style-clothing-3.jpg" alt="">
			</div>
			<hr class="hr-style-3">
			<div class="detail-style-3">
				<h3>Accessories</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda reprehenderit facere atque velit.</p>
				<a href="{!! URL::route('link-category', 3) !!}" class="btn">Shop Now</a>
			</div>
		</div>
	</div>
</section>
<section class="title-quotations" style="margin-bottom: 15px;">
	<div class="container">		
		<h2>Quotations</h2>
	</div>
</section>
<section class="section-quotations" style="margin-bottom: 110px;">
	<div class="flo-block-image-links-6 flo-block-image-links-6--894 clearfix">
		<div class="quotations1 div-quotations" style="color: #000000;background-color: #f9e6dd">
			<span class="title-quotations">
				DESTINATIONS
			</span>
			<h2 class="content-quotation">
				Beauty is in everything and everywhere, in smiles and tears, in sunshine and rain.
			</h2>
			<div class="flo-block-image-links-6__button-wrap">
				<a class="btn" href="#" target="_self">
					DETAILS
				</a>
			</div>
		</div>
		<div class="quotations2 div-quotations" style="color: #000000;background-color: #f5f5f5">
			<span class="title-quotations">
				GET IN TOUCH
			</span>
			<h2 class="content-quotation">
				We'd love to get to know you. Tell us your story and let's create something unique.
			</h2>
			<div class="flo-block-image-links-6__button-wrap">
				<a class="btn" href="#" target="_self">
					CONTACT
				</a>
			</div>
		</div>
	</div>
</section>
<section class="title-news">
	<div class="container">		
		<h2>From The Journal</h2>
	</div>
</section>
<section class="news">
	<div class="container">
		<div class="img-card-news clearfix">
			<div class="img-left col-sm-6">
				<div class="div-card1 div-cards">
					<div class="card-flip">
						<div class="card-front">
							<img class="img-card1" src="/images/img/card2.jpg" alt="" style="width: 100%;">
						</div>
						<div class="card-back">
							<div class="content-back">
								<div class="background-back">
									<span>Read The Story</span>
								</div>
							</div>
						</div>
					</div>
					<p class="some-text">Couples</p>
					<h4>Best Of Me</h4>
				</div>
				<div class="div-card1 div-cards">
					<div class="card-flip" style="height: 378.19px;">
						<div class="card-front">
							<img class="img-card1" src="/images/img/card3.jpg" alt="" style="width: 100%;">
						</div>
						<div class="card-back">
							<div class="content-back">
								<span>Read The Story</span>
							</div>
						</div>
					</div>
					<p class="some-text">Hello august</p>
					<h4>Hello World!</h4>
				</div>
			</div>
			<div class="img-right col-sm-6">
				<div class="div-card2 div-cards">
					<div class="card-flip" style="height: 378.19px;">
						<div class="card-front">
							<img class="img-card1" src="/images/img/card3.jpg" alt="" style="width: 100%;">
						</div>
						<div class="card-back">
							<div class="content-back">
								<span>Read The Story</span>
							</div>
						</div>
					</div>
					<p class="some-text">Hello august</p>
					<h4>Hello World!</h4>
				</div>
				
				<div class="div-card2 div-cards">
					<div class="card-flip">
						<div class="card-front">
							<img class="img-card1" src="/images/img/card1.jpg" alt="" style="width: 100%;">
						</div>
						<div class="card-back">
							<div class="content-back">
								<span>Read The Story</span>
							</div>
						</div>
					</div>
					<p class="some-text">Big sale</p>
					<h4>Sale For You</h4>
				</div>
			</div>
		</div>
	</div>
</section> 

<% include ./partials/footer%>
