@import url('https://fonts.googleapis.com/css?family=Play&display=swap&subset=vietnamese');

*{margin: 0;padding: 0;}

.checkout_block, .checkout_block_info, .checkout_block_small, .checkout_block_total, .payment_block{
  background-color: #fff; 
  box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 0px;
  padding-bottom: 3px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkout_block, .payment_block{
  margin-bottom: 30px;
}

.checkout_block .checkout_block_child, .payment_block .payment_block_child{
  padding-bottom: 14px;
}

.checkout_block_info{

  border-bottom: 1px gray solid;
}

.checkout_block_small .checkout_block_small_text, .checkout_block_total .checkout_block_total_text, .payment_block .payment_block_text{
  font-weight: 300;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.checkout_block .checkout_block_text{
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 3px;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.khoimenu img.hinhsanpham{
  max-width: 100px;
  height: 100px;
}

.khoimenu .tensanpham{
  /*width: 400px;*/
  margin-top: 15px;
}

.khoimenu .product_info .product_info_text{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.khoimenu_title .khoimenu_title_text{
  font-family: "Abril Fatface",Arial,Helvetica,sans-serif;
  /*font-size: 24px;*/
  color: rgba(37,65,53,1);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.05em;
  word-spacing: 0.00em;
  text-transform: none;
  font-variant: normal;
  line-height: 317%;
}

.khoimenu{
  margin-top: 10px;
  margin-bottom: 40px;
}

.khoimenu .product_info .product_info_description{
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #777;
}

.khoimenu .product_info .product_info_text small{
  color: #777;
  font-weight: 400;
  opacity: 2.44;
  font-size: .9em;
}


.btn-primary{
  background-color: #3e5a91 !important;
  border-color: #3e5a91 !important;
}

.info_voucher_block{
  margin-top: 17px;
}

.info_voucher_block .info_voucher{
  color: #0c0c0cba;
  font-family: 'Play', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.info_voucher_block .info_voucher .info_details{
  color: #ff0000ba;
}

#paypal_child{
  display: flex; 
  margin-left: 20px; 
  margin-top: 57px;
}

#paypal_child .col-lg-3{
  border: 1px #80808066  solid; 
  height: 89%;
}

#paypal_child .col-lg-3 img{
  width: 100%;
}

#tien_mat_child{
  display: none;
}
/**/
._1WlhIE {
  width: 1200px;
  margin: 0 auto 70px;
}
._1iurwE {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  background: #fff;
}
._1G9Cv7 {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(
45deg
,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
._1gkIPw {
  padding: 28px 24px 24px;
}
._1TKMuK {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
._20Qrq_ {
  font-size: 1.125rem;
  color: #ee4d2d;
  margin-bottom: 20px;
  text-transform: capitalize;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
._1TKMuK .icon-location-marker {
  width: 12px;
  height: 16px;
}
svg:not(:root) {
  overflow: hidden;
}
.icon-location-marker {
  color: #ee4d2d;
  fill: currentColor;
}
.shopee-svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}
.WtRfuB {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._1WlhIE .stardust-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: #fff;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  border-radius: 2px!important;
  color: #555;
  text-transform: capitalize;
  outline: none;
}
._3kjQa7, ._21EQQZ {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #555;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._3kjQa7 {
  margin-right: 15px;
}
.stardust-button {
  font-family: inherit!important;
}
._1WlhIE .stardust-button svg {
  fill: #555;
  margin-right: 10px;
}
svg:not(:root) {
  overflow: hidden;
}
._3PTu7X {
  width: 12px;
  fill: #555;
  margin-right: 5px;
}
.stardust-icon {
  stroke: currentColor;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
._21EQQZ {
  text-decoration: none;
  color: rgba(0,0,0,.8);
  display: block;
}
._1WlhIE .stardust-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: #fff;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  border-radius: 2px!important;
  color: #555;
  text-transform: capitalize;
  outline: none;
}
._1uZwoD .stardust-radio {
  padding: 9px 24px;
  cursor: pointer!important;
}

._1uZwoD .stardust-radio, .Jgz_oc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._1WlhIE .stardust-radio-button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

._1WlhIE .stardust-radio-button {
  padding-top: 3px;
  margin-right: .625rem;
}
.stardust-radio-button {
  margin-right: 8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
}
._1WlhIE .stardust-radio-button__outer-circle {
  border-width: 1px;
  border-color: rgba(0,0,0,.14);
}
.stardust-radio-button__outer-circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid rgba(0,0,0,.26);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.stardust-radio-button__outer-circle>.stardust-radio-button__inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ee4d2d;
  opacity: 0;
}
.stardust-radio__content {
  cursor: pointer;
}
._1uZwoD .stardust-radio {
  padding: 9px 24px;
  cursor: pointer!important;
}
._1uZwoD .stardust-radio, .Jgz_oc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.stardust-radio {
  font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 16px 12px;
}
._1JeHlf {
  padding: 20px 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
._1WlhIE .stardust-button--primary {
  background: #ee4d2d;
  color: #fff;
}
._1p19xl {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-radius: 3px;
}
._1p19xl, .jNDkp2+.jNDkp2 {
  margin-top: 12px;
}
._1_W4l_, .ktZs2X {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ktZs2X {
  height: 50px;
  padding: 24px 30px 0;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  border-radius: 3px;
}
._1_W4l_ {
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #bbb;
}
._1_W4l_, .ktZs2X {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._3GZI6L:first-child {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}
.mpT3lP {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
._3GZI6L {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
._3NO6B5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  color: #222;
}
.jNDkp2 {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  border-radius: 3px;
}
.QjLA16 {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
  border-radius: 3px;
}
._2sALOn {
  height: 50px;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}
.uU4YP8 svg {
  width: 15px;
  height: 15px;
  fill: #222;
}

._2a8IU8 svg {
  width: 15px;
  height: 15px;
  fill: #222;
}
._3xBVfW {
  text-decoration: none;
  color: rgba(0,0,0,.8);
  font-family: HelveticaNeueMedium,HelveticaNeue-Medium,Helvetica Neue Medium,Helvetica Neue,Arial Bold,arial,sans-serif;
  margin-left: 5px;
}
._3j3nK5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #00bfa5;
  margin-left: 10px;
  border-left: 1px solid rgba(0,0,0,.09);
}
svg:not(:root) {
  overflow: hidden;
}

._3WJbe6 {
  width: 20px;
  height: 15px;
  margin-left: 10px;
  margin-right: 4px;
}
._1oOvbg {
  border-bottom: 1px dashed rgba(0,0,0,.09);
  padding-bottom: 20px;
}
._3HkBPE {
  margin: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #222;
  min-height: 55px;
}
._1ASQkt:first-child {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
._2rJzUE {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
._1ASQkt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._11r44J {
  margin: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
._3F5vLQ {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._2z5WqO, .Aw_HtH {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.Aw_HtH {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #929292;
}
._1ASQkt {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._3y8KEH {
  padding-left: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._39uqs7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px dashed rgba(0,0,0,.09);
  padding: 18px 30px;
}
._2kNe1K {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafdff;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px dashed rgba(0,0,0,.09);
}
._1rWQIL {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
._3z9O-e {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
._2Bi0_l {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-top: none;
  min-width: 0;
  min-height: 0;
  padding: 16px 30px;
}
._3FcjyB {
  margin-left: 15px;
  margin-bottom: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 12px;
  font-weight: 300;
}
._2SbVjg {
  position: relative;
  margin-bottom: 15px;
}
.nVfi9v {
  background-color: #fff;
}
.-MhUeb {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
  border-radius: 2px;
  height: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.14);
  -webkit-transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out;
  transition: border-color .3s ease-in-out,box-shadow .3s ease-in-out,background-color .3s ease-in-out;
}
._3FcjyB input {
  padding: 4px 12px;
  width: 100%;
  height: 40px;
}
._2bfjEn {
  height: 38px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  outline: none;
  font-size: .875rem;
  min-width: 0;
  color: #222;
  border: none;
}
input {
  line-height: normal;
}
._3z9O-e:last-child {
  border-left: 1px dashed rgba(0,0,0,.09);
}
._1MFx1Y, ._3r_ksA {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._3r_ksA {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
  padding: 16px 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}
._3z9O-e {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
._167h1y {
  min-width: 0;
  min-height: 0;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #00bfa5;
  grid-column-start: 1;
  grid-column-end: 2;
}
._2v48Zq {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
._2v48Zq, .icI8yt {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  white-space: nowrap;
}
._3bTh2h {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
._2dr8Z8 {
  font-size: 12px;
  font-weight: 400;
}
._3pQMrK {
  font-weight: 400;
  margin-top: 5px;
  color: #ff424f;
}
._26DEZ8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #05a;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
._1OKizE {
  padding-right: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  font-size: 14px;
  color: #222;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
._1MFx1Y {
  background-color: #fafdff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 73px;
}
._3519w5 {
  font-size: 14px;
  color: #929292;
}
.-c5EIK {
  margin-left: 20px;
  font-size: 20px;
  color: #ee4d2d;
}
._3pDlnN {
  margin-top: 20px;
}
._1ru0hU {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
._-4zBNu, .FgeP4U {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.t57Ey0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.t57Ey0 svg {
  width: 24px;
  height: 100%;
  color: #ee4d2d;
}

svg:not(:root) {
  overflow: hidden;
}
._3Cew6Y {
  padding-left: 50px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 15px;
}
.jrXNrr {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  float: right;
  box-shadow: 0 0 0 0!important;
  border: 0!important;
  color: #05a!important;
  line-height: 21px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
  background: transparent;
}
._2geelQ, ._9OwJsb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

._2geelQ {
  position: relative;
  padding: 28px 30px;
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.05);
}
._9OwJsb {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
._2geelQ, ._9OwJsb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._4j8ZJQ {
  height: 18px;
  fill: transparent;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 18px;
  height: 100%;
  padding: 0 3px;
}
._2df0Hz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
._3pEs7y {
  padding-right: 12px;
  font-weight: 500;
  color: #d0d0d0;
}
.stardust-checkbox--disabled {
  opacity: .35;
  cursor: no-drop;
}
.stardust-checkbox {
  font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  position: relative;
  color: rgba(0,0,0,.54);
  max-width: 400px;
}
.stardust-checkbox--disabled {
  opacity: .35;
  cursor: no-drop;
}
.stardust-checkbox {
  font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  position: relative;
  color: rgba(0,0,0,.54);
  max-width: 400px;
}
.stardust-checkbox--disabled {
  opacity: .35;
  cursor: no-drop;
}
.stardust-checkbox {
  font-family: -apple-system,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 300;
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  position: relative;
  color: rgba(0,0,0,.54);
  max-width: 400px;
}
.stardust-checkbox__input {
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
}
.stardust-checkbox--disabled .stardust-checkbox__box {
  background: #e7e7e7!important;
  box-shadow: none!important;
}
.stardust-checkbox--disabled .stardust-checkbox__box {
  background: #e7e7e7!important;
  box-shadow: none!important;
}
.stardust-checkbox--disabled .stardust-checkbox__box {
  background: #e7e7e7!important;
  box-shadow: none!important;
}
.stardust-checkbox--disabled .stardust-checkbox__box:before {
  border-color: transparent;
}
.f23wB9 {
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 5%);
}
.qXX2_B {
  margin-top: 20px;
  background: #fff;
}
.checkout-payment-method-view__current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 5.625rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}
.checkout-payment-setting {
  position: relative;
  padding: .625rem 1.5rem 1.25rem;
  border-bottom: .0625rem solid rgba(0,0,0,.05);
}
.checkout-payment-method-view__current-title {
  font-size: 1.125rem;
  width: 12.5rem;
  color: #222;
}
.checkout-payment-setting .product-variation {
  font-weight: 500;
  border-radius: 2px;
  height: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  margin-top: .625rem;
  outline: none !important;
}

.product-variation {
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .25rem .75rem;
  margin: 0 8px 8px 0;
  color: rgba(0,0,0,.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.09);
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-variation--selected {
  color: #ee4d2d;
  border-color: #ee4d2d;
}
.product-variation {
  cursor: pointer;
  min-width: 5rem;
  min-height: 2.125rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .25rem .75rem;
  margin: 0 8px 8px 0;
  color: rgba(0,0,0,.8);
  text-align: left;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.09);
  position: relative;
  background: #fff;
  outline: 0;
  word-break: break-word;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-variation__tick {
  width: .9375rem;
  height: .9375rem;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
}
.product-variation__tick:before {
  border: .9375rem solid transparent;
  border-bottom-color: #ee4d2d;
  content: "";
  position: absolute;
  right: -.9375rem;
  bottom: 0;
}
.product-variation__tick>.icon-tick-bold {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 8px;
}
.bank-transfer-category:last-child {
  padding-bottom: 1.875rem;
}
.bank-transfer-category:first-child {
  padding-top: 1.875rem;
}
.bank-transfer-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.875rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bank-transfer-category__body {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.checkout-bank-transfer-item--disabled .stardust-radio {
  cursor: not-allowed;
}
.checkout-bank-transfer-item>.stardust-radio {
  cursor: pointer;
  padding-top: 0;
}
.stardust-radio {
  font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0,0,0,.87);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 16px 12px;
}
._1WlhIE .stardust-radio-button {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

._1WlhIE .stardust-radio-button {
  padding-top: 3px;
  margin-right: .625rem;
}
.stardust-radio-button {
  margin-right: 8px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
}
._1WlhIE .stardust-radio-button__outer-circle {
  border-width: 1px;
  border-color: rgba(0,0,0,.14);
}

.checkout-bank-transfer-item--disabled .stardust-radio-button__outer-circle {
  background-color: #ebebeb;
}
.stardust-radio-button__outer-circle>.stardust-radio-button__inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ee4d2d;
  opacity: 0;
}
.checkout-bank-transfer-item .stardust-radio__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.checkout-bank-transfer-item__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.25rem;
} 
.PC1-mc {
  background: #fffefb;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  border-top: 1px solid #f1f0ed;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}
.RihLPS {
  grid-row-start: 11;
  grid-row-end: 12;
}
._1X3--o {
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-column-span: 1;
}
._1i3wS2 {
  font-size: 14px;
  color: rgba(0,0,0,.54);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.RihLPS {
  grid-row-start: 11;
  grid-row-end: 12;
}
.lsNObX {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
._1i3wS2 {
  font-size: 14px;
  color: rgba(0,0,0,.54);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.RRMXiE {
  grid-row-start: 13;
  grid-row-end: 14;
}
._3QL9JJ {
  grid-row-start: 22;
  grid-row-end: 23;
}
._3QL9JJ {
  grid-row-start: 22;
  grid-row-end: 23;
}
._20-5lO {
  height: 50px;
  font-size: 28px;
  color: #ee4d2d;
}
.lsNObX {
  padding: 0 25px 0 10px;
  height: 40px;
  min-width: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-span: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
._3Q9F5R {
  grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-column-span: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 95px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px dashed rgba(0,0,0,.09);
  margin-top: 10px;
}
._2xyh_G {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding: 12px 15px;
  margin: 28px 25px 20px 0;
  border-radius: 2px;
  background-color: #fffdf8;
  color: rgba(0,0,0,.54);
}

._1WlhIE .stardust-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: #fff;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  border-radius: 2px!important;
  color: #555;
  text-transform: capitalize;
  outline: none;
}
._2a74ER {
  opacity: .7;
}
._1qSlAe {
  width: 210px;
  height: 40px;
  border: none;
  border-radius: 2px;
  padding: 0;
  -webkit-align-self: center!important;
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.stardust-button {
  font-family: inherit!important;
}
._1WlhIE .stardust-button--primary {
  background: #00bcd4;
  color: #fff;
  cursor: not-allowed;
}
._1Q3ggw {
  grid-row-start: 24;
  grid-row-end: 25;
  -ms-grid-row-span: 1;
}
.Jgz_oc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
._2Pe7Hh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}
.change-book {
  color: #05a;
  text-transform: uppercase;
  margin-left: 60px;
  font-weight: 500;
  cursor: pointer;
}
.book-name {
  font-weight: 700;
  color: #222;
}
.book-address {
  margin-left: 20px;
}
.Jgz_oc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.change-book a{
  text-decoration: none;
}
.change-book button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  background: #fff;
  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 3%);
  border-radius: 2px!important;
  color: #555;
  text-transform: capitalize;
  outline: none;
  padding: 8px 10px;
}
.change-book button:hover {
background: rgba(0,0,0,.02);
border-color: rgba(0,0,0,.09)!important;
}
.payment-selected {
  color: #00bcd4;
  border-color: #00bcd4;
  outline: none !important;
}
