
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

.main_containar
{
	background-color: unset;
}
.infomation_user.col-sm-5 label
{
	display: block;
}

.infomation_user
{
	padding: 0;
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
	padding-top: 20px;
}
.history_orders
{
	padding: 0;
	box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
.infomation_user
{
	/*float: left;*/
	background-color: #f4fffe;
	width: 570px;
	height: 620px;
	margin-right: 30px;
}
.history_orders
{
	background-color: #fff4fe;
	width: 700px;
	float: right;
	padding-left: 15px;
}
.avatar_name_user .div_picture_profile
{
	position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.avatar_name_user .picture_profile
{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	float: left;
}
.avatar_name_user .info_user_name
{
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 70px auto 20px;
	margin-left: 50%;
	transform: translateX(-50%);
}
.infomation_user .detail_info
{
	margin-right: 5%;
	margin-top: 10px;
	margin-bottom: 15px;
	border-bottom: solid 1px #e2e1e1;
}

.history_orders .one_history_order
{
	width: 90%;
	margin: 15px auto 15px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(63,63,68,.15);
}
.history_orders .one_history_order .col-sm-2, .history_orders .one_history_order .col-sm-10
{
	padding: 0;
}
.history_orders .one_history_order .col-sm-10
{
	border-left: solid 1px #e2e1e1;
	float: right;
	padding-left: 5%;
}
.history_orders .one_history_order .col-sm-2
{
	float: left;
	/*border-right: solid 1px #e2e1e1;*/
	text-align: center;
}
.history_orders .one_history_order .col-sm-2 p{
	padding-top: 15px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;

}
.history_orders .one_history_order .col-sm-10 p
{
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	color: #ff2f8e;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 18px;

}
.history_orders .one_history_order .col-sm-10 address
{
	color: #6d6d6d;
	margin-left: 15px;
	font-size: 16px;
}
.history_orders .one_history_order .col-sm-10 i
{
	color: #6d6d6d;
	float: left;
	font-size: 14px;
}
.history_orders .one_history_order .col-sm-10 span
{
	position: absolute;
    right: 0;
    top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: red;
    padding: 10px 10px 10px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid 1px #24ceff;
    border-right: unset;
}
.history_orders .one_history_order .col-sm-10 .view_detail label
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
    color: #6d6d6d;
    margin-bottom: 0;
    padding-bottom: 15px;
}
.history_orders .one_history_order .col-sm-10 .view_detail a
{
	position: absolute;
	
	right: 5%;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
    color: #005a90;

}

.history_orders .checkout_block_info .checkout_block_title{
	margin-left: 10px; 
	margin-top: 30px; 
	background: linear-gradient(
      to right, 
      #fffdc2,
      #fffdc2 15%,
      #d7f0a2 15%,
      #d7f0a2 85%,
      #fffdc2 85%
    ); color:#6e9b09; 
    font-size: 24px;
}

.khoimenu_title{
	display: flex;
	font-family: 'Fira Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #3012cb;
	margin-left: 7px;
	margin-top: 20px;
	border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: solid 1px #ff24fc;
    border-right: unset;
    padding-top: 7px;
}

.khoimenu .hinhsanpham{
	max-width: 64%; 
	box-shadow: 1px 0px 9px 1px #0a6afb; 
	border: dashed #69afba;
    border-width: 2px 4px;
    border-radius: 40px;
}
 /*user*/
.user-list-option {
	display: flex;
    flex-direction: column;
    background-color: white;
    width: 310px;
    padding: 20px;
    height: auto;
    margin-top: 10px;
}
.user-item-selected {
	width: 100%;
    height: 40px;
    color: #3571a7;
    font-weight: 500;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}
.user-item {
	width: 100%;
    height: 40px;
    color: #0d1136;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
}
.user-profile-container {
	display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    width: 65%;
    margin: 10px 0 0 10px;
}
.user-label {
	font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.changeps-label {
	display: flex;
    padding: 0;
    margin-top: 10px;
}
.user-form {
    padding: 0.5rem;
    font-size: 15px;
    width: 50%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.user-form-password{
    padding: 0.5rem;
    font-size: 15px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.userpage-sidebar-menu_subsection {
	display: block;
    padding: 0 0 3px 34px;
}
.user-account {
	text-decoration: none;
    color: rgba(0,0,0,.8);
    display: block;
    margin-bottom: 15px;
    color: #555;
}
.address-card{
	background: #fff;
    padding: 1.875rem .1875rem 1.875rem 1.25rem;
    min-height: 6.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
}
.address-display__name-text {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: .625rem;
    max-width: 350px;
    color: rgba(0,0,0,.8);
    font-weight: 500;
	font-size: 1rem;
}
.address-display__left {
	-moz-animation-duration: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.address-display__field-container--name {
	margin-bottom: .9375rem;
}
.address-display__field-container{
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .625rem;
}
.address-display__field-label {
	margin-right: 1.5625rem;
    text-transform: capitalize;
    width: 10rem;
    text-align: right;
    color: rgba(85,85,85,.8);
}
.address-display__field-content {
	max-width: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
}
.add-new-address {
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 6px 0;
    height: 72px;
    -moz-box-sizing: border-box;
}
.address-card__buttons {
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
	display: flex;
	width: 13.75rem;
    height: 100%;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.address-card__button-group {
	margin: 8px 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
	justify-content: flex-end;
	display: flex;
}
.address-display__label_pickup {
	display: inline-block;
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    font-size: .75rem;
    font-weight: 400;
    height: 1.375rem;
    padding: 0 .625rem;
    border-radius: .6875rem;
    vertical-align: .125rem;
    line-height: 1.375rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: .625rem;
}
.bacc-default-badge {
    display: inline-block;
    background: #00bfa5;
    color: #fff;
    border-radius: 3px;
    padding: 3px 7px 2px;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    width: auto;
    white-space: nowrap;
    margin-right: 12px;
}
/*user purchase*/
._3D9BVC {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 980px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    border-radius: .125rem;
}
._3zmZLR {
    min-height: 740px;
    background: #f5f5f5;
    box-shadow: 0 0 0 2px #f5f5f5;
}
.iTmqFf {
    width: 100%;
    margin-bottom: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
._2s-sXW {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(0,0,0,.8);
    background: #fff;
    border-bottom: 2px solid rgba(0,0,0,.09);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: color .2s;
    transition: color .2s;
}
._2-GXl7 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
._228tyk {
    border-color: #ee4d2d;
}
._2s-sXW:hover, ._228tyk {
    color: #ee4d2d;
}
._2s-sXW {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 16px 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(0,0,0,.8);
    background: #fff;
    border-bottom: 2px solid rgba(0,0,0,.09);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: color .2s;
    transition: color .2s;
}
._36XCmR {
    width: 100%;
    height: 600px;
    text-align: center;
}
._2WXGP9 {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: .125rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
}
._379iT1 {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/5fafbb9….png);
}
._1FBD3g {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 1.4;
    color: rgba(0,0,0,.8);
}
.selected {
	color: #3571a7;
}

/*custom user-wait*/
._32cw_C {
    margin: 12px 0;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: .125rem;
}
._3wGW0m:first-child {
    padding-top: 24px;
}
._3wGW0m {
    padding: 12px 24px;
    background: #fff;
}
._1tj6iU, ._3xIZfd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._3xIZfd {
    padding: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ece8e8;
    margin: 15px 0;
}
._1tj6iU {
    white-space: nowrap;
}
._2bGakT, ._2tDqUs, ._18HTrf {
    margin: 0 0 0 8px;
}
._2bGakT>.stardust-button, ._18HTrf>.stardust-button {
    padding: 4px 8px;
    font-size: 12px;
    text-transform: capitalize;
    outline: none;
    border-radius: 2px;
    border: 1px solid transparent;
}
.stardust-button--primary {
    background-color: #ee4d2d;
    border-color: #cd3011;
    color: #fff;
}
.stardust-button {
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Roboto","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.26);
    background-color: white;
    color: rgba(0,0,0,0.87);
    padding: 8px 10px;
}
._4LtjmC, .QZfu6W {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.QZfu6W {
    padding: 0 0 0 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._2Nbve1 {
    margin: 0 10px 0 0;
    padding: 0 5px 0 0;
    text-align: right;
    border-right: 1px solid rgba(0,0,0,.12);
}
.uhK5zO {
    line-height: 24px;
    color: #ee4d2d;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap;
}
._3wGW0m:last-child .g7tA3o {
    display: none;
}
.g7tA3o {
    height: 10px;
}
._1J7vLy {
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0,0,0,.09);
    position: relative;
}
.tyOBoQ {
    left: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.DI-rNr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    width: .4375rem;
    height: .4375rem;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 0;
}
._25igL4 {
    right: 0;
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%);
}
._39ypT2 {
    padding: 24px 24px 12px;
    background: #fffefb;
}
.h0Jexl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._3HcfDh {
    cursor: pointer;
}
._3LfHXA {
    margin: 0 10px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,.8);
}
.isoXOF {
    color: #ee4d2d;
    font-size: 24px;
    line-height: 30px;
}
._1YuAW0, ._2GvoV8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._2GvoV8 {
    padding: 12px 24px 24px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    background: #fffefb;
}
._1YuAW0 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 300px;
    max-width: 400px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    word-wrap: break-word;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0,0,0,.54);
}
._1YuAW0, ._2GvoV8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.EoE22E, .Vt1J92 {
    margin: 0 0 0 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-overflow: ellipsis;
}
.EoE22E, .sCoiFR, .Vt1J92 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}
._3iADE8, ._3iADE8:hover {
    border: 1px solid transparent;
}
._3iADE8 {
    min-width: 150px;
    min-height: 40px;
    padding: 8px 20px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    border-radius: 2px;
    outline: 0;
}
._2hnmH-:first-child {
    margin: 0;
    border: 0;
}
._2WGfBS, ._3Nbzgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
}
._2WGfBS {
    padding: 12px 0 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    color: rgba(0,0,0,.87);
}
._3Nbzgs {
    padding: 0 12px 0 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
._2WGfBS, ._3Nbzgs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    word-wrap: break-word;
}
._3-E1pP {
    width: 80px;
    height: 80px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
}
.shopee-image__wrapper {
    position: relative;
}
.shopee-image__content, .shopee-image__wrapper {
    width: 100%;
    height: 100%;
}
.shopee-image__place-holder {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
}
.shopee-image__content {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.shopee-image__content, .shopee-image__wrapper {
    width: 100%;
    height: 100%;
}
.shopee-image__content--blur {
    width: 100%;
    height: 100%;
}
._31sWbC, ._-5JMmO {
    -webkit-box-orient: vertical;
}
._-5JMmO {
    min-width: 0;
    padding: 0 0 0 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    word-wrap: break-word;
}
._31sWbC {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    max-height: 48px;
}
._11UuPg, ._18b78C {
    vertical-align: middle;
}
._1TLPCK, .aQNMRY {
    margin: 0 0 5px;
}
._1TLPCK {
    color: rgba(0,0,0,.54);
}
._1DRlwq, ._2zTpu5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
._1Padoq {
    margin: 0 5px 0 0;
}
._1Padoq, ._2Nbve1 .icon-help {
    vertical-align: middle;
}
._2Nbve1 .shopee-drawer {
    margin: 0 0 0 6px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}
.shopee-drawer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.shopee-drawer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._2bGakT>.stardust-button:not(.stardust-button--primary), ._18HTrf>.stardust-button:not(.stardust-button--primary) {
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
}
._2bGakT>.stardust-button, ._18HTrf>.stardust-button {
    padding: 4px 8px;
    font-size: 12px;
    text-transform: capitalize;
    outline: none;
    border-radius: 2px;
    border: 1px solid transparent;
}
.stardust-button {
    font-family: -apple-system,"Helvetica Neue",Helvetica,"Roboto","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.26);
    background-color: white;
    color: rgba(0,0,0,0.87);
    padding: 8px 10px;
}
.stardust-button {
    font-family: inherit!important;
}
.stardust-button {
    font-family: -apple-system,Helvetica Neue,Helvetica,Roboto,Droid Sans,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.26);
    background-color: #fff;
    color: rgba(0,0,0,.87);
    padding: 8px 10px;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.order-item {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}
.order-list-pannel {
    margin-bottom: 20px;
}