<% include ../../partials/header %>
<link rel="stylesheet" href="/stylesheets/css/user_info.css">

<div style="z-index: 10; margin-bottom: 280px; position: relative; background-color: rgb(240, 240, 240);">
    <div style="display: flex; justify-content: center; padding: 20px;">
    <div class="user-list-option">
    <div class="">
        <div class="user-item">
                <div><a style="color:unset;" href="/user/account/profile">Thông tin của tôi</a></div>
        </div>
        <div class="stardust-dropdown_item-body stardust-dropdown_item-body-open" style="opacity: 1;">
            <div class="userpage-sidebar-menu_subsection">
                <a class="user-account" href="/user/account/profile"><span class="_2PrdXX">Hồ sơ</span></a>
                <a class="user-account" href="/user/account/payment"><span class="_2PrdXX">Ngân hàng</span></a>
                <a class="user-account" href="/user/account/address"><span class="_2PrdXX"> Sổ Địa chỉ</span></a>
                <a class="user-account" href="/user/account/password"><span class="_2PrdXX">Đổi mật khẩu</span></a>
            </div>
        </div>
    </div>
    <div class="user-item-selected">
        <div><a style="color: unset" href="/user/account/purchase">Quản lý đơn hàng</a></div>
    </div>
    <div class="user-item">
        <div>Sổ địa chỉ</div>
    </div>
    <div class="user-item">
        <div>Nhận xét sản phẩm đã mua</div>
    </div>
    <div class="user-item">
        <div>Sản phẩm mua sau</div>
    </div>
    </div>
    <div class="_3D9BVC">
    <div class="_3zmZLR">
        <div></div>
        <div class="iTmqFf">
            <a class="_2s-sXW selected" href="/user/purchase/?type=6"><span class="_2-GXl7">Tất cả</span></a>
            <a class="_2s-sXW _228tyk" href="/user/purchase/w-confirm"><span class="_2-GXl7">Chờ xác nhận</span></a>
            <a class="_2s-sXW" href="/user/purchase/?type=7"><span class="_2-GXl7">Chờ lấy hàng</span></a><a class="_2s-sXW" href="/user/purchase/?type=8"><span class="_2-GXl7">Đang giao</span></a>
            <a class="_2s-sXW" href="/user/purchase/?type=3"><span class="_2-GXl7">Đã giao</span></a><a class="_2s-sXW" href="/user/purchase/?type=4"><span class="_2-GXl7">Đã Hủy</span></a>
        </div>
        <div></div>
        <div class="_36XCmR">
            <div class="_2WXGP9">
                <div class="_379iT1"></div>
                <div class="_1FBD3g">Chưa có đơn hàng</div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
<% include ../../partials/footer %>